
.footer {
    background-color: #f1eaea;
    position: relative;
    margin-top: 40px;
    color: #110101;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    margin-bottom: -19px;
  }
  
  .footer-section h2 {
    font-size: 18px;
  }
  
  .footer-section p {
    font-size: 14px;
    line-height: 1.5;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #100101;
    text-decoration: none;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 1px;
    border-top: 1px solid #666;
  }
  
  .social-links {
    margin-top: 10px;
  }
  
  .social-links a {
    color: hsl(0, 63%, 61%);
    margin-right: 10px;
  }
  
  .social-links a:hover {
    color: #ffcc00;
  }
.footer-section-contact{
  margin-right: 20px;
  margin-bottom: 20px;

}
.footer-section-links{
  margin-right: 500px;
}